<div class="w-full bg-gray-200 px-4 py-2.5 mx-4 rounded-md flex justify-between items-center gap-2">
  <div class="flex gap-4 items-center">
    <h2 class="font-semibold text-xl bg-blue-50/50 px-3 py-1 rounded-md">ZaicodeUI</h2>
    <p>
      <span class="font-bold">Limited Time Offer!</span>
      Get exclusive benefits before it’s gone.😉</p>
  </div>
  <div class="flex gap-2 items-center">
    <button class="bg-white text-sm px-3 py-2 rounded-md hover:bg-gray-50 transition-colors duration-200">
      Learn More
    </button>
    <button type="submit" class="hover:bg-gray-100 transition-colors duration-200 rounded-md px-2 py-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</div>