<div class="border border-gray-200 rounded-xl bg-white shadow py-8 w-80">
  <div class="flex justify-center p-2">
    <img
      src="profile/zaicode.png"
      class="w-26 rounded-full bg-gray-300 p-0.5"
    />
  </div>
  <div>
    <h2 class="text-center font-semibold text-xl">Zaicode</h2>
    <p class="text-center text-sm text-gray-600">Software Enginnering</p>
  </div>
  <div class="flex justify-center items-center gap-2 mt-2">
    <a
      href="https://www.tiktok.com/@zaicodee"
      class="border border-black text-sm bg-black text-white px-4 py-1 rounded-md"
    >
      Follow
    </a>
  </div>
</div>
