<div class="relative flex flex-col w-full h-full overflow-scroll">
  <table class="table-auto w-full">
    <thead class="bg-gray-50">
      <tr class="font-base h-9">
        <td class="py-1.5 px-2 text-sm text-gray-600 rounded-l-md w-16 text-center">No</td>
        <td class="py-1.5 px-4 text-sm text-gray-600">Name</td>
        <td class="py-1.5 px-4 text-sm text-gray-600">Email</td>
        <td class="py-1.5 px-4 text-sm text-gray-600 rounded-r-md">Address</td>
      </tr>
    </thead>
    <tbody>
      <tr class="h-8 border-b border-gray-100 hover:bg-gray-50 transition-colors duration-200 ease-in-out">
        <td class="py-2.5 text-gray-600 text-sm px-2 text-center">1</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Kimberly Aedilson</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">kimberlys89@example.com</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Montreal Museum of Fine Arts</td>
      </tr>
      <tr class="h-8 border-b border-gray-100 hover:bg-gray-50 transition-colors duration-200 ease-in-out">
        <td class="py-2.5 text-gray-600 text-sm px-2 text-center">2</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Beckham Kobayashi</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">kobayashi@example.com</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Foreign Trade University</td>
      </tr>
      <tr class="h-8 border-b border-gray-100 hover:bg-gray-50 transition-colors duration-200 ease-in-out">
        <td class="py-2.5 text-gray-600 text-sm px-2 text-center">3</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Michael Adam </td>
        <td class="py-2.5 text-gray-600 text-sm px-4">michael@example.com</td>
        <td class="py-2.5 text-gray-600 text-sm px-4">Vondelpark Open Air Theatre</td>
      </tr>
    </tbody>
  </table>
</div>
