<div class="relative w-full overflow-x-auto rounded-2xl border border-gray-200">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700">
    <tr class="border-b border-gray-200">
      <th class="px-6 py-3">No</th>
      <th class="px-6 py-3">Name</th>
      <th class="px-6 py-3">Email</th>
      <th class="px-6 py-3">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-t border-gray-200">
      <td class="px-6 py-3 ps-7">1</td>
      <td class="px-6 py-3">Kimberly Aedilson</td>
      <td class="px-6 py-3">kimberlys89@example.com</td>
      <td class="px-6 py-3">Montreal Museum of Fine Arts</td>
    </tr>
    <tr class="bg-white border-t border-gray-200">
      <td class="px-6 py-3 ps-7">2</td>
      <td class="px-6 py-3">Beckham Kobayashi</td>
      <td class="px-6 py-3">kobayashi@example.com</td>
      <td class="px-6 py-3">Foreign Trade University</td>
    </tr>
    <tr class="bg-white border-t border-gray-200">
      <td class="px-6 py-3 ps-7">2</td>
      <td class="px-6 py-3">Michael Adam</td>
      <td class="px-6 py-3">michael@example.com</td>
      <td class="px-6 py-3">Vondelpark Open Air Theatre</td>
    </tr>
    </tbody>
  </table>
</div>