<section
  class="mx-auto max-w-full h-screen flex flex-col justify-center bg-amber-50/50"
>
  <div
    class="flex flex-col-reverse md:flex-row justify-center items-center px-2 md:px-20"
  >
    <div class="w-full text-center md:text-left md:w-1/2">
      <p class="text-sm text-gray-500">── Creator Agency</p>
      <h2 class="text-3xl md:text-5xl font-semibold mb-2">
        Bring Your Story to Life Through Powerful Videos
      </h2>
      <p class="text-sm text-gray-500">
        We craft stunning visuals and compelling narratives that make your brand
        stand out and connect with your audience.
      </p>

      <div class="mt-4 space-x-2">
        <a
          href="#"
          class="bg-gray-950 text-sm border border-gray-950 text-white px-4 py-2 rounded-lg hover:bg-gray-800 transition-colors duration-200"
        >
          Lest Talk
        </a>
        <a
          href="#"
          class="bg-white text-sm border border-gray-100 text-black px-4 py-2 rounded-lg hover:bg-gray-50 transition-colors duration-200"
        >
          Portofolio
        </a>
      </div>
    </div>

    <div class="w-full flex justify-center md:justify-end md:w-1/2">
      <img
        src="https://fastly.picsum.photos/id/26/4209/2769.jpg?hmac=vcInmowFvPCyKGtV7Vfh7zWcA_Z0kStrPDW3ppP0iGI"
        alt="hero-image"
        class="w-10/12 md:w-9/12 lg:w-4/5 rounded-2xl"
      />
    </div>
  </div>
</section>
