<div class="rounded-xl w-96 border border-gray-200 p-2.5 bg-white hover:bg-gray-50 transition-colors duration-200">
  <img
    src="https://images.unsplash.com/photo-1506744038136-46273834b3fb"
    alt="image.png"
    class="w-full object-cover border border-gray-200 rounded-lg mb-2 hover:shadow-lg transition-shadow duration-200">

    <div class="p-2 mb-2">
      <h2 class="font-semibold text-xl mb-1">Zaicode</h2>
      <p class="text-sm text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti maiores
      </p>
    </div>
</div>
