<div class="w-96 border border-gray-200 rounded-xl bg-white">
  <div class="bg-linear-to-r/srgb from-green-50 to-blue-50 px-5 py-8 rounded-xl border-4 border-white hover:bg-linear-to-r/srgb hover:from-blue-50 hoverto-green-50 transition-colors duration-300 ease-in-out">
    <div class="flex items-center justify-between gap-3 mb-6">
      <div class="flex items-center gap-2">
        <div class="bg-green-500 rounded-xl p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-7 text-white">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
          </svg>
        </div>
        <h2 class="text-xl font-semibold text-gray-800">Profesional</h2>
      </div>

      <div>
        <span class="flex items-center gap-1 text-xs bg-yellow-400 rounded-2xl px-2 py-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-blue-600">
            <path fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd" />
          </svg>
          Most Popular
        </span>
      </div>
    </div>

    <div class="mb-6">
      <h2 class="font-bold text-4xl mb-1">$199 <span class="text-sm text-gray-500 font-normal">/Month</span></h2>
      <p class="text-sm text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi rem, facilis itaque</p>
    </div>

    <div class="mb-6">
      <h2 class="font-semibold">Free Feature</h2>
      <div class="mt-2 space-y-2">
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 rounded-lg p-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path fill-rule="evenodd"
                d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="text-sm text-gray-600">Lorem ipsum dolor, sit amet</span>
        </div>

        <div class="flex items-center gap-2">
          <div class="bg-gray-200 rounded-lg p-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path fill-rule="evenodd"
                d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="text-sm text-gray-600">Corporis neque quaerat alias, libero magnam.</span>
        </div>

        <div class="flex items-center gap-2">
          <div class="bg-gray-200 rounded-lg p-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path fill-rule="evenodd"
                d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="text-sm text-gray-600">Ullam ab alias sit delectus labore, fugiat</span>
        </div>

        <div class="flex items-center gap-2">
          <div class="bg-gray-200 rounded-lg p-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path fill-rule="evenodd"
                d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="text-sm text-gray-600">Necessitatibus animi beatae quod odio ab</span>
        </div>
      </div>
    </div>

    <div>
      <button class="bg-gray-950 w-full text-sm border border-gray-950 text-white px-4 py-2 rounded-xl hover:bg-gray-800 transition-colors duration-200">
        Upgrade Now
      </button>
    </div>
  </div>
</div>
